doctype html
html
  head
    title
      | Download Python
    link(href='stylesheets/style.css', rel='stylesheet')
    link(rel='icon', href='images/Logo.png')
  body.funny
    header
      .index2
        header.jframe
          ul.nav1
            li.back-python2
              a.text(href='/python-sections-1')
                p.back-python1(align='left')
                  | &#8592 Section Select
            li.back-python2
              a.text(href='/boolean-operators')
                p#back-pyg.back-python1(style='margin-left: 4%', align='left')
                  | Next Lesson &#8594
          a.Logo1(href='/')
            img.Logo(src='images/Logo.png')
        nav.g
          p.ac1
            ul.nav
              a.login(href='/') Home
              a.login(href='/#courses') Courses
              if !user
                a.login(href='/users/register') Sign Up

                a.login(href='/users/login') Login
              
              a.login(href='/support') Support

              if user
                a.login(href='/users/logout') Logout
    nav
      p.Lesson
        | Lesson 1/9
    p.Lesson
      | Booleans
    center
      iframe.video(width='560', height='315', src='https://www.youtube.com/embed/IkSK6YWWGqo', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')

    center
      
    p.j
      | Links:
    p.j
      a(target='_blank', href='https://www.python.org/')
        | Python Website
    p.j
      a(target='_blank', href='http://www.hooksounds.com')
        | Music by HookSounds
    footer.l
      | &copy Epicode CFK 2018
