doctype html
html
  head
    title Epicode!!!
    link(href='stylesheets/style.css', rel='stylesheet')
    link(rel='icon', href='images/Logo.png')
  body.index1
    .index2
      header.jframe
        a.Logo1(href='/')
          img.Logo(title='Epicode CFK', src='images/Logo.png')
      nav.g
        p.ac1
          ul.nav
            a.login(href='/') Home
            a#coursess.login(href='#courses') Courses
            a.login(href='/users/register') Sign Up
            a.login(href='/users/login') Login
            a.login(href='/support') Support
            a.login(href='/users/logout') Logout
    .intro
      p.j Welcome #{name} !
    footer
      p.l &copy Epicode CFK 2017