doctype html
html
  head
    title Support | EpicodeCFK - Coding For Kids
    link(href='stylesheets/style.css', rel='stylesheet')
    link(rel='icon', href='images/Logo.png')
  body.index1
    .index2
      header.jframe
        a.Logo1(href='/')
          img.Logo(title='Epicode CFK', src='images/Logo.png')
      nav.g
        p.ac1
          ul.nav
            a.login(href='/') Home
            a#coursess.login(href='/#courses') Courses
            if !user
              a.login(href='/users/register') Sign Up

              a.login(href='/users/login') Login
              
            a.login(href='/support') Support

            if user
              a.login(href='/users/logout') Logout
    .intro
      p.j Dear Kids,
      p.j
        | Having trouble with anything? Email me at 
        a(href='mailto:epicodecfk@gmail.com') epicodecfk@gmail.com
      p.j From,
      p.j Epic
    footer
      p.l &copy Epicode CFK 2018
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
